/* ********************Global Styles********************* */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #2c3e50;
    --secondary-color: #18bc9c;
    --accent-color: #8a0e00;
    --font-color: #333333;
    --background-color: #f4f4f4;
}
body {
    font-family: 'Roboto', sans-serif; /* Updated font family */
    min-width: 320px; /* Ensures readability on small devices */
    background-color: var(--background-color);
    color: var(--font-color);
}

/* ******************Header Styles********************* */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 44px 44px;
}
.logo-box {
    grid-column: span 1;
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-box h1 {
    font-size: 1rem;
    margin-left: 0.5rem;
    font-weight: 700;
}
.logo-box img {
    height: 100px;
    width: auto;
}


/* ***************Hamburger Navigation Styles*************** */
.show {
    display: block;
}

#ham-btn {
    background: none;
    /* button element default had a grayish background, so we removed it */
    border: none;
    /* button element default had a border, so we removed it */
    color: var(--secondary);
    /* Dark blue color for the hamburger icon */
    cursor: pointer;
    /* Cursor changes to pointer on hover to indicate its clickable */
    font-size: 2rem;
    /* Larger size for visibility */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Font family for the icon */
    transition: all 0.3s ease-in-out;
    /* Smooth transition for hover effects */
    grid-column: 3/4
}

#ham-btn:before {
    content: "\2630";
    /* hamburger for open menu*/
}

#ham-btn:hover {
    scale: 1.3;
    /* Slightly enlarge the hamburger icon on hover for better interactivity */
    transition: all 0.1s ease-in-out;
}

#ham-btn.show::before {
    content: "\00D7";
    /* X for close menu */
}


/* ***************Navigation Menu Styles*************** */

nav {
    display: none;
    width: 100%;
    /* Full width for navigation menu */
    grid-column: span 3;
    border-top: 1px solid #ddd;
    background-color: var(--primary-color);
}

#nav-bar {
    list-style: none;
    /* Remove default bullet points from list */
}
#nav-bar li {
    border-radius: 8px;
}
#nav-bar a {
    display: block;
    /* Make links take up full width for easier clicking */
    padding: .8rem 10px;
    /* Padding around links for better spacing */
    text-decoration: none;
    /* Remove underline from links */
    color: white;
    /* White link color */
    /* Light grey border below each link */
    transition: all 0.3s ease-in-out;
}

#nav-bar li.current {
    background-color: var(--accent-color);
    /* Highlight current page link with light gray background */
    color: white;
    /* White text for better contrast */
}

#nav-bar li.current a {
    color: white;
    /* White text for better contrast */
}

#nav-bar a:hover {
    border-radius: 8px;
    box-shadow: 0 0 5px var(--accent-color);
    scale: 1.02;
    /* Dark blue background on hover for better interactivity */
    transition: all 0.1s ease-in-out;
}

/* **************** Main Styles **************** */
main {
    min-height: calc(100vh - 116px - 50.39px - 16px - 27.59px - 16px);
    padding: 1rem;
}
.view-toggle {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary-color);
}
.view-toggle button {
    background-color: var(--secondary);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}
.view-toggle button:hover {
    box-shadow: 0 0 1rem var(--accent-color);
    transition: all 0.1s ease-in-out;
    scale: 1.1;
}
.view-toggle button.active {
    background-color: var(--accent-color); /* Replace with your desired color */
    transition: all 0.3s ease-in-out;
}

.page-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}


.gold-member:after {
    content: "\2605";
    color: gold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px #585858;
}
.silver-member:after {
    content: "\2605";
    color: rgb(227, 227, 227);
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px #585858;
}

#directory.grid {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        margin: 0.5rem auto;
    }
#directory.grid section {
    background-color: white;
    /* White background for each card */
    border: solid 1px #ddd;
    /* Light grey border around each card */
    border-radius: 8px;
    /* Rounded corners for each card */
    padding: 1rem;
    /* Padding inside each card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    display: flex;
    /* Flexbox for layout */
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    text-align: center;
    /* Center text inside the card */
    gap: 0.5rem;
}
.directory.grid section img {
    max-width: 100%;
    /* Ensure images don't exceed card width */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 1rem;
    /* Space below the image */
}
.directory.grid section h2 {
    display: none;
}



#directory.list {
    display: block;
    margin: 0.5rem;
}
#directory.list section {
    background-color: white;
    /* White background for each card */
    border: solid 1px #ddd;
    /* Light grey border around each card */
    border-radius: 8px;
    /* Rounded corners for each card */
    padding: .5rem;
    /* Padding inside each card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    display: grid;
    /* grid for layout */
    grid-template-columns: 2fr 2fr 3fr 1fr 15px;
    align-items: center;
    font-size: 0.6rem;
    gap: 0.5rem;
}
.directory.list section h2 {
    font-size: 0.6rem;
}

.directory.list section img {
    display: none;
}
.directory.list .gold-member:after,
.directory.list .silver-member:after {
    font-size: 1rem;
}




/* ***************Footer Styles*************** */
footer {
    background-color: #eee;/* Light grey background color */
    padding: 1rem;
    /* Padding around the footer top/bottom and left/right */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    justify-items: start;
    gap: 1.5rem;
    font-size: 1rem;
}

footer .info-box {
    grid-column: 2 / 3;
    /* Span all three columns */
    text-align: left;
    /* Center the text */
    font-size: 12.8px;
}

.media-bar {
    display: flex;
    /* Flexbox container for horizontal layout */
    justify-content: space-between;
    /* Center the media bar horizontally */
    column-gap: 8px;
    /* Space between each link */
    grid-column: 2 / 3;
    /* Center the media bar in the footer */
    align-items: center;
    /* Center the media bar vertically */
    margin: 0 auto;
    /* Center the media bar horizontally */
}

.media-bar a {
    display: flex;
    /* Flex container for centering icon */
    justify-content: center;
    /* Center icon horizontally */
    align-items: center;
    /* Center icon vertically */
    width: 44px;
    /* Fixed width for each link */
    height: 44px;
    /* Fixed height for each link */
    border: solid 1px #ddd;
    /* Light grey border around each link */
    border-radius: 50%;
    /* Circular shape for each link */
    transition: all 0.3s ease-in-out;
}

.media-bar img {
    width: 22px;
    /* Fixed width for each icon */
    height: 22px;
    /* Height scales proportionally to width */
}

.media-bar a:hover {
    background-color: #ddd;
    /* Dark blue background on hover */
    transition: all 0.1s ease-in-out;
    scale: 1.2;
    /* Slightly enlarge the icon on hover */
}

footer .copy-box {
    grid-column: 2 / 3;
    /* Span all three columns */
    text-align: left;
    /* Center the text */
    margin-bottom: 0.5rem;
    /* Space below the credits section */
    font-size: 12.8px;
}

#last-modified,
#current-year {
    color: rgb(44, 30, 2);
    font-size: 0.8rem;
    /* Slightly larger font size for credits section */
    text-align: left;
}