@media (min-width: 638px) {
    header img {
        width: 300px;
    }

    h1 {
        font-size: 2.5rem;
    }

    #menu {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    nav ul li {
        margin: 0;
        transition: all 0.3s ease;
    }

    nav ul li:hover {
        background-color: var(--secondary-color);
        border: 0.5ch double var(--darkbg-text);
        transition: all 0.1s ease;
    }

    .close-button {
        scale: 1.2;
        transition: all 0.3s ease;
    }

    .close-button:hover {
        scale: 1;
        transition: all 0.1s ease;
    }

    .vehicle-image-container {
        overflow: hidden;
    }

    .vehicle-card:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.719);
    }

    .vehicle-card img {
        filter: brightness(90%);
        transition: all 0.3s ease;
    }

    .vehicle-card:hover img {
        filter: brightness(100%);
        transform: scale(1.03);
        transition: all 0.3s ease;
    }

    #inventory-filter li {
        transition: all 0.3s ease;
    }

    #inventory-filter li:hover {

        transition: border 0.3s ease;
    }

    #inventory-filter a,#inventory-sort a {
        position: relative;
    }

    #inventory-filter a::after, #inventory-sort a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: var(--primary-color);
        border-radius: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s;
    }

    #inventory-filter a:hover::after, #inventory-sort a:hover::after {
        transform: scaleX(1);
        transition: transform 0.3s;
    }
    .media-bar a {
        transition: all 0.3s ease;
    }
    .media-bar a:hover {
        transform: scale(1.1);
        transition: all 0.1s ease;
    }

}

@media (min-width: 1000px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}